div{
	text-align: center;
}
body{
		background-image: url('forest.jpg');
	}
body{
	background-image: url('spotlight.png');
		
}
h1{
	text-align: center;
	color: white;
}
div{
	color: white;
}

p,label{
	color: white;
	text-align: center;
}

input, textarea{
	padding: 0px;
	margin: 0px;
}
form {
	width: 50%;
	margin: 0 25% 0 25%;
	border-top: 5px solid black;
	border-right: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	border-radius: 10px;
	padding: 15px;
}

input[type=text], select {
  width: 100%;
  padding: 5px 0 5px 0;
  border: 1px solid black;
  border-radius: 20px;
}

textarea {
	height: 200px;
	width: 100%;
}

input[type=submit] {
  width: 100%;
  background-color: #79d2a6;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
}

input[type=submit]:hover {
	background-color: black;
}
